@font-face {
	font-family: 'GolosReg'; 
	src: url(../fonts/Golos-UI_Regular.ttf); 
}

* {
    background-color: white;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GolosReg';
}

.main-container {
    align-content: center;
    height: 100vh;
}

.login-container {
    margin: 0 auto;
    position: relative;
    /* background-color: blueviolet; */
    background-image: url('../images/login/loginImg.png');
    /* background-size: 100% 100%; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 501px;
    width: 900px;
}

form {
    position: absolute;
    display: inline-block;
    width: 343px;
    height: 251px;
    /* background-color: rgb(67, 132, 87); */
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0px;
}

.email-container {
    /* background-color: rgb(106, 34, 34); */
    height: 88px;
    align-content: baseline;
}
.email-input {
    outline-color: #3F8AE0;
    padding-left: 10px;
    width: 343px;
    height: 44px;
    border-radius: 10px;
    border-style: none;
    background-color: #F2F3F5;
    margin: 4px 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
}

.pass-container {
    /* background-color: #3514cb; */
    height: 83px;
    align-content: flex-end;
}
.pass-input {
    outline-color: #3F8AE0;
    box-sizing: border-box;
    padding-left: 10px;
    width: 343px;
    height: 44px;
    border-radius: 10px;
    border-style: none;
    background-color: #F2F3F5;
    margin-top: 4px;
}

.submit-container {
    background-color: white;
    height: 80px;
    align-content: end;
}
.submit-input {
    width: 343px;
    height: 44px;
    background-color: #222222;
    border-style: none;
    border-radius: 10px;
    color: white;
}

.header-label {
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
    position: absolute; 
    background-color: transparent;
    top: -107px;
    left: -90px;
}

.form-label, .explain-label{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
}

.explain-label {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
}


