.main-container {
    display: flex;
    width: 100%;    
    min-height: 100vh;
    position: relative;
    background-color: #42e75e;
}

.viewport-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content-feed {
    margin: 0 auto;
    width: 474px;
    padding-top: 73px;
    
}

.content-container {
    width: 100%;
    min-height: 474px;
}

.content-container__header-container {
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: space-between;
}

.content-container__avatar-container {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: darkmagenta;
}

.content-container__avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content-container__nickname {
    flex-grow: 1;
    font: 700 14px/18px "GolosR", "comic sans ms";
    color: #222222;
    letter-spacing: -0.15px;
}

.content-container__icon-edit {
    width: 24px;
    height: 24px;
}

.content-container__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 474px;
    position: relative;
}

.content-container__image-counter {
    font: 400 15px/18px "GolosR", "comic sans ms";
    color: #ffffff;
    letter-spacing: -0.15px;
    position: absolute;
    right: 16px;
    top: 20px;
    background-color:rgba(34, 34, 34, 0.5);
    padding: 3px 10px;
    border-radius: 20px;
}

.carousel-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.post-scroll-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 0 16px 0 16px;
    background-color: rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(13px);
}

.show-prev-image-button {
    background-image: url(../../../image/icon/Arrow_left_button_icon.png);
}

.show-next-image-button {
    background-image: url(../../../image/icon/Arrow_right_button_icon.png);
}

.content-container__images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-container__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content-container__reaction-container {
    margin: 16px 0;
    background-color: rgba(35, 35, 35, 0.05);
    width: max-content;
    border-radius: 8px;
}

.content-container__heart {
    display: inline-block;
    font: 400 16px/1 "GolosR", "comic sans ms";
    padding: 6px 0 6px 12px;
    background-color: transparent;
}

.content-container__like-counter {
    font: 400 15px/18px "GolosR", "comic sans ms";
    color: #222222;
    letter-spacing: -0.15px;
    background-color: transparent;
    padding: 6px 12px 6px 0;
}

.content-container__text {
    font: 400 15px/18px "GolosR", "comic sans ms";
    color: #222222;
    letter-spacing: -0.15px;
    word-break: break-all;/*перенос текста*/
}

.content-container__more-button {
    font: 400 15px/18px "GolosR", "comic sans ms";
    color: rgb(128, 128, 128);
    letter-spacing: -0.15px;
    /* padding: 0;   */
    /* width: 28px; */
    height: 18px;  
    background-color: transparent;
}

.content-container__date {
    font: 400 14px/18px "GolosR", "comic sans ms";
    margin: 8px 0 20px 0;
    color: rgba(34, 34, 34, 0.5);
    letter-spacing: -0.15px;
}

.modal-window {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;/*по высоте середина*/
    align-items: center;/*по ширине середина*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(34, 34, 34, 0.5);
    backdrop-filter: blur(20px);
}

.modal-window__viewport {
    display: flex;
    position: relative;
    width: 636px;
    height: 636px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 24px;
}

.modal-window__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.modal-window__image-counter {
    font: 500 15px/18px "GolosR", "comic sans ms";
    color: #ffffff;
    letter-spacing: -0.15px;
    background-color: transparent;
}

.modal-window__close-button-container {
    width: 636px;
    background-color: transparent;
    text-align: right;

}

.modal-window__close-button {
    width: 36px;
    height: 36px;
    margin-bottom: 16px;
    background-image: url(../../../image/icon/mw_close_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

