.menu {
    display: inline-block;
    position: fixed;
    height: 100vh;
    list-style-type: none;
    padding: 24px 0;
    border-width: 0;
    border-right: 1px rgba(34, 34, 34, 0.05) solid;
}

.menu__menu-cell {
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    margin: 16px;
}

.menu__icon-home {
    background-image: url("../../image/icon/home_icon.png");
}

.menu__icon-user {
    background-image: url("../../image/icon/user_icon.png");
}

.menu__icon-add {
    background-image: url("../../image/icon/add_icon.png");
}